:root {
    --Color-letra: #f2f2f2;
    --color-card-1: #e38826;
    --color-card-2: #006970;
    --color-card-3: #004241;
    --font-size-title: 3.8rem;
    --font-family-title: 'Big Shoulders Display', cursive;
    --font-family-parraf:  'Lexend Deca', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.Container-proyect {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
}
.Container-proyect .Container-cards {
    background-color: var(--color-card-1);
    padding: 10px 20px 0px 30px;
    width: 350px;
    height: 450px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
.Container-proyect .Container-cards h1 {
    font-size: 3.5rem;
    font-family: var(--font-family-title);
    color: var(--Color-letra);
    margin: 25px 0 25px 0;
}
.Container-proyect .Container-cards p {
    font-size: 1.8rem;
    font-family: var(--font-family-parraf);
    color: var(--Color-letra);
    line-height: 2;
    margin-bottom: 35px;
    font-weight: bold;
}
.Container-proyect .Container-cards button {
    width: 150px;
    height: 50px;
    border-radius:  50px;
    border: 1px solid white;
    cursor: pointer;
    font-family: var(--font-family-parraf);
    color: var(--color-card-1);
    font-weight: bold;
    transition: 350ms all;
}
.Container-proyect .Container-cards button:hover {
    background-color: transparent;
    color: white;
}
.Container-proyect .Container-cards:nth-child(2) {
    background-color: var(--color-card-2);
    border-radius: 0 0 0 0;
}
.Container-proyect .Container-cards:nth-child(3) {
    background-color: var(--color-card-3);
    border-radius: 0 10px 10px 0;
}
